<%- include("head", {title: "Page title"}) %>

<h1>Rendering!!!</h1>

<pre><%= msg %></pre>
<pre><%= validated %></pre>

<%- html %>

<ul>
  <% for (let i = 0; i < 10; i++) { %>
  <li>Li item <%= i + 1 %></li>
  <% } %>
</ul>

<%# Shown only here %>

<!-- Shown in the browser too -->
